.mainText {
	margin-top: 3.125rem;
}

.subText {
	color: grey;
	margin-bottom: 1.875rem;
}

.btn-bd-primary {
	font-weight: 600;
	color: white;
	background-color: #744ab7;
	border-color: #744ab7;
	border-radius: 0.25rem;
	border: 0;
	padding: 0.625rem 7.938rem;
	align-items: center;
}

.Connector-d3-0-2-19 {
	border-image: linear-gradient(
			45deg,
			#744ab7 0 50%,
			rgb(189, 189, 189) 50% 100%
		)
		1;
}
