.App {
	/* text-align: center; */
	margin-top: 3.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
label {
	font-family: "Inter";
}

.App-logo {
	height: 2.5rem;
	width: 2.5rem;
}

.secondText {
	font-size: 1.6rem;
}

.Companyname {
	margin: 0;
	margin-left: 0.313rem;
	margin-bottom: 2.5rem;
}

.StepperContainer-0-2-1 {
	align-items: center;
}

.stepperClass {
	border-image: linear-gradient(45deg, indigo 0 50%, white 50% 100%) 1;
}

.StepButton-0-2-4:disabled {
	border: solid;
	border-color: #f2f2f2;
}

/* .Connector-d7-0-2-27,
.Connector-d11-0-2-35 {
	border-color: #d9d9d9 !important;
} */
