.App {
	margin-top: 3.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
label {
	font-family: "Inter";
}

.App-logo {
	height: 2.5rem;
	width: 2.5rem;
}

.workspaceText {
	margin-top: 3.125rem;
	padding: 0;
	padding-bottom: 0.313rem;
	font-size: 1.54rem;
	font-weight: 600;
}

#mainTextEden {
	font-size: 1.59rem;
	padding: 0;
	padding-bottom: 0.313rem;
}

.Companyname {
	margin: 0;
	margin-left: 0.313rem;
	margin-bottom: 2.5rem;
	font-weight: 900;
}

.StepperContainer-0-2-1 {
	align-items: center;
}

.stepperClass {
	border-image: linear-gradient(45deg, indigo 0 50%, white 50% 100%) 1;
}

.StepButton-0-2-4:disabled {
	border: solid;
	border-color: #f2f2f2;
}
